body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    margin: 0;
    height: 100vh;
    font-family: 'Comic Sans MS', cursive;
    background-color: bisque;
}

header h1 {
    text-align: center;
}

main {
    flex-grow: 1;
}