/* Responsividade */

@media (max-width: 800px) {
    html body {
        height: auto;
    }

    body main {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    body main article {
        width: 75%;
        height: 300px;
    }

    body footer {
        height: 10%;
        margin: 5% 0;
    }
}

@media (max-width: 500px) {
    body main article {
        width: 80%;
        height: 350px;
    }
}

/* Estilização principal */

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    margin: 0;
    height: 100vh;
    font-family: 'Comic Sans MS', cursive;
    background-color: bisque;
}

header h1 {
    text-align: center;
    text-decoration: underline;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

main article {
    background-color: whitesmoke;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 0 1vw;
    height: 75%;
    width: 25%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
}

main article h2 {
    text-align: center;
}

ul {
    padding-left: 20px;
}

footer {
    text-align: center;
    height: 10vh;
}

a {
    color: red;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#botao-inicio {
    background-color: red;
    color: white;
    border: 2px solid rgb(100, 0, 0);
    border-radius: 5px;
    padding: 2px 4px;
}