@-moz-document url-prefix() {
    .titulo {
        color: red;
    }
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    margin: 0;
    height: 100vh;
    font-family: 'Comic Sans MS', cursive;
    background-image: url("imgs/tela-fundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 1.00),
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0.50),
        rgba(0, 0, 0, 0)
    );
}

header h2 {
    font-family: serif;
    font-weight: bold;
    font-size: 2.5rem;
    color: transparent;
    text-align: center;
    -webkit-text-stroke: 1px red;
    margin: 20px 0 0 0;
    line-height: 0.75;
}

header h2 span {
    text-decoration: overline;
    text-decoration-thickness: 1px;
    position: relative;
}

header h2 span::before {
    content: "";
    background: red;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 12%;
    height: 1px;
}

header h2 span::after {
    content: "";
    background: red;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 12%;
    height: 1px;
}

main {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caixa {
    height: 80%;
    width: 50%;
    background-color: rgba(100, 0, 0, 0.8);
    border: 2px solid red;
    color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.75);
}

#caixa-introducao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#caixa-introducao p {
    text-align: justify;
    margin: 5% 10%;
}

#caixa-principal {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#texto {
    text-align: justify;
    margin: 0 10%;
}

#caixa-opcoes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.opcao {
    background-color: orange;
    border: 2px solid black;
    border-radius: 5px;
    padding: 4px 10px;
    width: 60%;
    text-align: center;
}

.marcada {
    background-color: orangered;
    transform: scale(1.1);
    transition: all 100ms ease;
}

#caixa-botoes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
}

#caixa-botoes:not(#caixa-botoes button) {
    user-select: none;
}

button {
    border: 2px solid black;
    border-radius: 5px;
    background-color: orange;
    font-size: 0.9rem;
    font-family: 'Comic Sans MS', cursive;
    cursor: pointer;
}

button:hover {
    background-color: orangered;
    transform: scale(1.05);
    transition: all 100ms ease;
}

button:active {
    transform: scale(0.95);
    transition: all 50ms ease;
}

#caixa-lateral {
    position: fixed;
    bottom: 1vw;
    right: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 5px;
    height: 50vh;
    padding: 0;
}

#botao-retorno {
    background-color: red;
    border: 2px solid white;
    border-radius: 5px;
    padding: 4px 6px;
    text-align: center;
}

#botao-retorno:hover {
    transform: scale(1.05);
    transition: all 100ms ease;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    color: white;
}

footer span {
    font-family: Arial, sans-serif;
}

footer a {
    color: orange;
}