main {
    position: relative;
    height: 500px;
    width: 500px;
    padding: 0;
    margin: 10% auto;
    background-color: wheat;
    border: 1px solid black;
}

#personagem {
    position: absolute;
    left: 225px;
    bottom: 225px;
    height: 50px;
    width: 50px;
    background-color: red;
    border-radius: 10px;
}

#escolhas {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
    height: 40px;
    padding: 5px;
    background-color: rgb(245, 225, 200);
    border-radius: 5px;
}

#escolhas div:not(#id-personagem) {
    padding: 2px 4px;
    background-color: orange;
    border: 1px solid black;
    border-radius: 5px;
}